.pages{
    width: 100%;
    margin: 0px;
    padding: 0px 10px;
}

header{
    background-color: black;
    width: auto;
    height: auto;
    padding: 20px;

}

header .title{
    font-size: 25pt;
    font-weight: 600;
    color:white;

}

header .navbar{
    font-size: 12pt;
    font-weight: 600;
    color: white;

}

header .navbar a{
    color: white ;
    text-decoration: none;
}

header .navbar a:hover{
    color: goldenrod ;
}

.testimony{
    margin: 20px 0px;
    padding: 20px;

}

.testimony .title{
    font-size: 25pt;
    font-weight: 500;
    text-align: center; 
}

.testimony .desc{
    font-size: 18pt;
    font-weight: 500;
    text-align: center;
    font-style: italic;
}

.testimony .cust{
    font-size: 18pt;
    font-weight: 600;
    text-align: right;
    font-style: italic;
}



footer{
    background-color: black;
    color: white;
    height: auto;
    width: auto;
    padding: 20px;
}

footer li{
    list-style-type: none;
}

footer ul{
    padding: 0px;

}

@media screen and (max-width:700px) and (min-width:0px) {
    .form{
        width: 100% !important;
        margin-top: 50px auto !important;
        
    }
    
}





.banner{
    background-image: url(../assets/wallpaper.jpg);
    width: auto;
    height: 600px;
    position: relative;
    padding: 20px;
    background-repeat: round;
}

.form{
    margin-top: 50px;
    margin-right: 100px;
    float: right;
    border: solid 2px grey;
    width: 40%;
    border-radius: 8px;
    padding: 20px;
    background-color: grey ;
}

.form p {
    font-size: 16pt;
    color: black;
    font-weight: 600;

}

.form .input-form{
    margin: 10px 0px;
}

.about-us{
    margin: 20px 0px;
    padding: 20px;
}

.about-us img{
    width: 100%;
    padding: 20px 10px;
    height: 300px;
}

.why-us .fa{
    font-size: 30pt !important;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}


.why-us{
    margin: 20px 0px;
    padding: 20px;

}

.why-us .header{
    font-size: 25pt;
    text-align: center;
    font-weight: 600;
}

.why-us .title{
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    color: goldenrod;
}

.why-us .desc{
    font-size: 15pt;
    font-weight: 600;
    text-align: center;

}

.why-us .col-md-6:hover{
    padding: 25px;
    color: white;
    background-color:rgb(156, 113, 3);
}

.choose{
    margin: 20px 0px;
    padding: 20px;

}


.choose .fa{
    font-size: 30pt !important;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /* width: 10%; */
    border: solid 2px black;
    box-shadow: 0px 0px 2px #888;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 60px;
    text-align: center;
}

.choose .header{
    font-size: 25pt;
    font-weight: 600;
    text-align: center;
}

.choose .desc{
    font-size: 10pt;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}


.about-us .title{
    font-size: 16pt;
    color: goldenrod;
    font-weight: 600;
    text-align: center;
}
.about-us .desc{
    font-size: 14pt;
    font-weight: 500;
    text-align: justify;
}

.about-us .read-more{
    text-decoration: underline;
    font-size: 10pt;
    font-weight: 600;
    color: black ;
    /* float: right; */
}

@media screen and (min-width:700px) {
   
    .footer-right{
        text-align: right;
    }
    
    .footer-left{
        text-align: left;
    }
    
    .footer-mid{
        text-align: center;
    }
    
    
}
